streamlit
pandas
numpy
python-dateutil
pymongo
certifi
requests
pycountry
plotly[kaleido]
kaleido
pillow
fpdf2
streamlit-authenticator
streamlit-js-eval
google-auth
google-auth-oauthlib
google-api-python-client
google-analytics-data
python-dotenv