streamlit
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-analytics-data
pandas
python-dateutil
streamlit-authenticator
fpdf
requests
Pillow
pycountry
plotly
pymongo
streamlit-js-eval
